# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node.js deps
node_modules/

# built files
dist/
build/

# Mac
.DS_Store

# ide settings
.vscode/
.zed/
.idea/

# Env files
.env

# ai tooling
.claude/
.cursor/
.yoyo/
